# Enable visualization using rerun.io
use_rerun: true
# Provides the prefix to the output log file for this experiment
file_logger: "quad_simulation"
# Enable rendering depth
render_depth: true
# Enable multithreading for depth rendering for large resolution (above 32x24)
use_multithreading_depth_rendering: true
# Desired layout for the Rerun frontend
rerun_blueprint: "config/hsl_blueprint.rbl"
simulation:
  # Frequency of control loop execution (Hz)
  control_frequency: 200
  # Frequency of physics simulation updates (Hz)
  simulation_frequency: 1000
  # Frequency of data logging (Hz)
  log_frequency: 20
  # Total duration of the simulation (seconds)
  duration: 70.0
  # Gravitational acceleration (m/s^2)
  gravity: 9.81
  # Enable Runge-Kutta 4th order integration for dynamics, otherwise Euler integration is used
  use_rk4_for_dynamics_update: false
  # Enable Runge-Kutta 4th order integration for dynamics, otherwise Euler integration is used
  use_rk4_for_dynamics_control: false
  # Enable real time mode. If not enabled, sim will run in fast time.
  real_time: true

quadrotor:
  type: "Peng"
  id: "Peng"
  # Mass of the quadrotor (kg)
  mass: 1.3
  # Aerodynamic drag coefficient
  drag_coefficient: 0.000
  # Inertia matrix [Ixx, Ixy, Ixz, Iyx, Iyy, Iyz, Izx, Izy, Izz] (kg*m^2)
  inertia_matrix: [3.04e-3, 0.0, 0.0, 0.0, 4.55e-3, 0.0, 0.0, 0.0, 2.82e-3]
  initial_position: [0.5, 0.5, 0.0]

pid_controller:
  # PID gains for position control
  pos_gains:
    # Proportional gains [x, y, z]
    kp: [7.1, 7.1, 11.9]
    # Derivative gains [x, y, z]
    kd: [2.4, 2.4, 6.7]
    # Integral gains [x, y, z]
    ki: [0.0, 0.0, 0.0]
  # PID gains for attitude control
  att_gains:
    # Proportional gains [roll, pitch, yaw]
    kp: [1.5, 1.5, 1.0]
    # Derivative gains [roll, pitch, yaw]
    kd: [0.13, 0.13, 0.1]
    # Integral gains [roll, pitch, yaw]
    ki: [0.0, 0.0, 0.0]
  # Maximum integral error for position control [x, y, z]
  pos_max_int: [10.0, 10.0, 10.0]
  # Maximum integral error for attitude control [roll, pitch, yaw]
  att_max_int: [0.5, 0.5, 0.5]

imu:
  # Standard deviation of accelerometer noise (m/s^2)
  accel_noise_std: 0.02
  # Standard deviation of gyroscope noise (rad/s)
  gyro_noise_std: 0.01
  # Standard deviation of accelerometer bias instability (m/s^2)
  accel_bias_std: 0.0001
  # Standard deviation of gyroscope bias instability (rad/s)
  gyro_bias_std: 0.0001

maze:
  # Lower bounds of the maze [x, y, z] (m)
  lower_bounds: [-4.0, -2.0, 0.0]
  # Upper bounds of the maze [x, y, z] (m)
  upper_bounds: [4.0, 2.0, 2.0]
  # Number of obstacles in the maze
  num_obstacles: 0
  # Maximum velocity of obstacles [x, y, z] (m/s)
  obstacles_velocity_bounds: [0.2, 0.2, 0.1]
  # Range of obstacle radii [min, max] (m)
  obstacles_radius_bounds: [0.05, 0.1]

camera:
  # Camera resolution [width, height] (pixels)
  resolution: [128, 96]
  # Vertical Field of View (degrees)
  fov_vertical: 90
  # Near clipping plane (m)
  near: 0.1
  # Far clipping plane (m)
  far: 5.0
  # Rotates camera to positive x-axis
  rotation_transform: [0.0, 0.0, 1.0, -1.0, 0.0, 0.0, 0.0, -1.0, 0.0]

mesh:
  # Number of divisions in the mesh grid
  division: 7
  # Spacing between mesh lines (m)
  spacing: 0.5

planner_schedule:
  # Minimum jerk line trajectory
  - # Simulation step in ms to start this planner
    time: 1.0
    planner_type: MinimumJerkLine
    params:
      # Target end position [x, y, z] (m)
      start_position: [0.0, 0.0, 0.0]
      start_yaw: 0
      # Target end position [x, y, z] (m)
      end_position: [-1.5, 0.0, 1.0]
      # Target end yaw angle (rad)
      # end_yaw: 1.1507944
      end_yaw: 0.0
      # Duration of the trajectory (s)
      duration: 9.0

  # HyRL obstacle avoidance trajectory
  - time: 10.0
    planner_type: HyRL
    params:
      # If we want to use standard DQN or the Hybrid model
      model_type: hybrid
      start_yaw: 0.0
      # Number of points we are requesting in the returned trajectory
      num_waypoints: 2000
      # The path to the HyRL service
      url: http://127.0.0.1:50051
      # Start position of the trajectory
      start_position: [-1.5, 0.0, 1.0]
      # Requested target for the trajectory
      target_position: [3.5, 0.0, 1.0]
      duration: 15.0

  # Landing trajectory
  - time: 25.0
    planner_type: Landing
    params:
      # Duration of the landing maneuver (s)
      duration: 5.0
